<nav class="header-nav ms-auto">
  <ul class="d-flex align-items-center">

    <li class="nav-item dropdown pe-3">
      <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
        <!-- <img alt="Profile" class="rounded-circle">{{user.imagen}} -->
        <ng-container *ngIf="user">
          <img  class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2">
            <b> {{ user.persona.nombres | titlecase }} {{ user.persona.apellidos | titlecase }} </b>
          </span>
        </ng-container>
      </a>

      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
        <ng-container *ngIf="user">
          <li class="dropdown-header">
            <h6> {{ user.persona.nombres | titlecase }} {{ user.persona.apellidos | titlecase }} </h6>
            <span> {{ user.rol.cargo | titlecase }} </span>
          </li>
        </ng-container>
        
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <a class="dropdown-item d-flex align-items-center" (click)="modalPerfil()">
            <i class="bi bi-person"></i>
            <span>Mi Perfil</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item d-flex align-items-center" (click)="modalEmpresa()">
            <i class="bi bi-person"></i>
            <span>Empresa</span>
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <a (click)="salir()" class="dropdown-item d-flex align-items-center" href="#">
            <i class="bi bi-box-arrow-right"></i>
            <span>Cerrar sesión</span>
          </a>
        </li>
      </ul>

    </li>


  </ul>
</nav>