<app-breadcrumb [listaUrl]="listaUrl"></app-breadcrumb>

<div class="container text-center">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-12">
        <div class="col">
            <div class="example-container col-md-12">
                <h2>Usuarios Sin Departamento</h2>
                <div cdkDropList class="example-list mt-3" id="list-user-sin-departamento"
                    [cdkDropListData]="listaUserSinDepartamento"
                    [cdkDropListConnectedTo]="['list-new-user-sin-departamento']"
                    (cdkDropListDropped)="dropUser($event)">
                    <div class="example-box" *ngFor="let lu of listaUserSinDepartamento" cdkDrag [cdkDragData]="lu">
                        Nombres : {{ lu.persona.nombres | titlecase}} {{ lu.persona.apellidos | titlecase }} -
                        Cargo : {{ lu.rol.cargo | titlecase }}

                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="example-container col-md-12">
                <h2>Departamentos</h2>
                <div cdkDropList class="example-list mt-3" id="list-departamentos" [cdkDropListData]="listaDepartamento"
                    [cdkDropListConnectedTo]="['list-departamento']" (cdkDropListDropped)="dropDepartamento($event)">
                    <div class="example-box" *ngFor="let d of listaDepartamento" cdkDrag [cdkDragData]="d">
                        {{ d.nombre | titlecase }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center mt-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-12">
        <div class="col">
            <div class="example-container col-md-12">
                <h2>Usuarios</h2>
                <div    cdkDropList 
                        class="example-list mt-3" 
                        id="list-new-user-sin-departamento" 
                        [cdkDropListData]="newlistaUser"
                        [cdkDropListConnectedTo]="['list-user-sin-departamento']" 
                        (cdkDropListDropped)="dropUser($event)">
                    <div    class="example-box" 
                            *ngFor="let lu of newlistaUser" 
                            [cdkDragData]="lu"
                            cdkDrag>
                            Nombres : {{ lu.persona.nombres | titlecase}} {{ lu.persona.apellidos | titlecase }} -
                            Cargo : {{ lu.rol.cargo | titlecase }}
                    </div> 
                </div>
            </div>
        </div>

        <div class="col">
            <div class="example-container col-md-12">
                <h2>Departamento</h2>
                <div    cdkDropList 
                        class="example-list mt-3" 
                        id="list-departamento" 
                        [cdkDropListData]="newDepartamento"
                        (cdkDropListDropped)="dropOnListDepart($event)"> 
                    <div    class="example-box" 
                            *ngFor="let d of newDepartamento" 
                            [cdkDragData]="d" 
                            cdkDrag>
                            {{ d.nombre | titlecase }}
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 mt-3">
    <div class="col-md-12  d-flex justify-content-center">
        <button mat-button color="primary" (click)="asignacionUsersDepartamento()" cdkFocusInitial>Asignar Usuarios con su Departamento
        </button>
    </div>
</div>